@font-face {
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?2h4ajg');
	src:url('../fonts/feathericons/feathericons.eot?#iefix2h4ajg') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?2h4ajg') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?2h4ajg') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?2h4ajg#feathericons') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, 
body,
.js .container,
.js .dragslider,
.js .img-dragger .handle {
	height: 100%;
}

html.js,
.js body {
	overflow: hidden;
	position: relative;
}

.link-list {
	margin: 0 0 10px 5px;
}

.link{
	position: absolute !important;
	z-index: 9;
}

.link-placeholder {
	position: inherit;
	cursor: pointer;
	height: 100%;
   z-index: -1;
   visibility: hidden;
}

.js .dragslider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

.dragslider.show-content {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.dragslider h2 {
	font-family: 'DM Mono', monospace;
	color: #000;
	font-size: 3em;
	font-weight: 500;
	margin: 0 auto;
	line-height: 0.95;
	position: relative;
}

#red {
	background-color: #fc4a68;
}

#acqua {
	background-color: #65a3bb;
}


#fullred {
	background-color: #c40808;
}

#orange {
	background-color: #f39810;
}

#blue {
	background-color: #2a75ff;
}

#purple {
	background-color: #cd2aff;
}

#green {
	background-color: #2abe68;
}

#darkgreen {
	background-color: #2b5f45;
}


#darkred {
	background-color: #862c3b;
}

#darkpurple {
	background-color: #532380;
}

#darkblue {
	background-color: #0c133f;
}

#lightblue {
	background-color: #2c90a1;
}

#yellow {
	background-color: #f7d200;
}

h3 {
	display: inline-block;
	font-size: 18px !important;
	color: white;
	padding: 12px 18px;
	margin: 6px 6px 6px 6px !important;
	font-size: .95em;
	font-family: 'DM Mono', monospace;
	border-radius: 10px;
}

.no-js .dragslider h2 {
	padding: 15px;
}

.dragslider h2 span {
	line-height: 1.5;
	display: block;
	font-size: .32em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 17px 0 15px 5px;
}

/* Switch button */
button.slider-switch {
	font-size: 0;
	width: 80px;
	height: 80px;
	padding: 0;
	color: transparent;
	position: relative;
	border: none;
	background: url(../img/switchmin.svg) no-repeat center center;
	background-size: 90%;
	float: right;
	outline: none;
	overflow: hidden;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: auto;
}

.no-js button.slider-switch {
	display: none;
}

button.slider-switch.view-maxi {
	background-image: url(../img/switchmax.svg)
}

button.slider-switch:hover {
	opacity: 1;
}

/* Dragger */
.img-dragger {
	position: relative;
	z-index: 100;
}

.js .img-dragger {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.js .img-dragger-large {
	width: 100%;
	height: 100%;
}

.js .img-dragger .handle {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	white-space: nowrap;
	font-size: 0;
}

.no-js .img-dragger,
.no-js .img-dragger .handle {
	height: auto;
	position: relative;
	text-align: center;
	font-size: 0;
	clear: both;
	white-space: nowrap;
	overflow: auto;
}

.no-js .img-dragger .handle {
	padding: 40px 0 0;
}

.img-dragger .slide {
	display: inline-block;
	position: relative;
	height: 100%;
	background: #fbfbfb;
	font-size: 16px;
	white-space: normal;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: top;
}

.no-js .img-dragger .slide {
	width: 300px;
	font-size: 7px;
	min-height: 200px;
}

.img-dragger .slide:active {
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

.img-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	overflow: hidden;
}

.image {
	position: absolute;
	display: block;
	box-shadow: -1px 4px 43px -15px rgba(0,0,0,0.6);
-webkit-box-shadow: -1px 4px 43px -15px rgba(0,0,0,0.6);
-moz-box-shadow: -1px 4px 43px -15px rgba(0,0,0,0.6);
}

.shape-shadow {
	box-shadow: -1px 4px 43px -15px rgba(0,0,0,0) !important;
-webkit-box-shadow: -1px 4px 43px -15px rgba(0,0,0,0) !important;
-moz-box-shadow: -1px 4px 43px -15px rgba(0,0,0,0) !important;
filter: drop-shadow(-1px 4px 15px  rgba(0,0,0,0.3));
-webkit-filter: drop-shadow(-1px 4px 15px rgba(0,0,0,0.3));
-moz-filter: drop-shadow(-1px 4px 15px rgba(0,0,0,0.3));
}

.img1 {
	height: 40%;
	right: 6%;
	top: 46%;
}

.img2 {
	height: 28%;
	right: 28%;
	top: 58%;
}

.img3 {
	height: 35%;
	right: 12%;
	top: 28%;
}

.img4 {
	height: 30%;
	right: 7%;
	top: 7%;
}

.img5 {
	height: 92%;
	right: 25%;
	top: 7%;
}

.img6 {
	height: 50%;
	right: 5%;
	top: 3%;
}

.img7 {
	height: 27%;
	right: 42%;
	top: 66%;
}

.img8 {
	height: 27%;
	right: 42%;
	top: -2%;
}

.img9 {
	height: 27%;
	right: 42%;
	top: 32%;
}

.img10 {
	height: 27%;
	right: 3%;
	top: 58%;
}

.img11 {
	height: 32%;
	right: 15%;
	top: 67%;
}

.img12 {
	height: 44%;
	right: 7%;
	top: 16%;
}

.img13 {
	height: 27%;
	right: 34%;
	top: 4%;
}

.img14 {
	height: 32%;
    right: 42%;
    top: 54%;
}

.img15 {
	height: 32%;
right: 2%;
top: 54%;
}

.img16 {
	height: 45%;
right: 13%;
top: 50%;
}

.img17 {
	height: 50%;
right: 10%;
top: 16%;
}

.img18 {
	height: 75%;
right: 15%;
top: 10%;
}

.img19 {
	height: 25%;
right: 2%;
top: 5%;
}

.img20 {
	height: 30%;
    right: 22%;
    top: 68%;
}

.img21 {
	height: 44%;
	right: 7%;
	top: 32%;
}

.img22 {
    height: 27%;
    right: 17%;
    top: 50%;
}

.text-container {
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	width: 33%;
	padding: 3% 0 0 4% !important;
	top: 7%;
}

.img-dragger-small .slide h2 {
	font-size: 2.5em;
	padding-top: 1em;
	top: 100%;
	width: 100%;
	text-align: center;
	color: #34495e;
	animation: slideUpFade 0.4s 0.1s;
	-webkit-animation: slideUpFade 0.4s 0.1s;
}


.header {
	display: block;
}

.instructions {
	bottom: 40px;
	position: fixed;
}

.instructions div {
	display: inline-block;
	margin-right: 25px;
}

@media screen and (max-width: 650px) {
	.image {
		position: relative !important;
		width: 100% !important;
		height: auto !important;
		top: auto !important;
		left: auto !important;
		right: auto !important;
		margin-top: 4%;
		box-shadow: -1px 4px 30px -8px rgba(0,0,0,0);
-webkit-box-shadow: -1px 4px 30px -8px rgba(0,0,0,0);
-moz-box-shadow: -1px 4px 30px -8px rgba(0,0,0,0);
	}

	.text-container {
		width: 100%;
		padding: 16% 6% 0 6% !important;
	}
	
	.img-wrap {
		position: relative;
		margin-top: 4% !important;
		overflow: visible !important;
	}

	html.js,
	.js body {
	overflow: visible;
	}

	button.content-switch-home {
		top: 3% !important;
		width: 50px !important;
	}

	button.content-switch {
		top: 3% !important;
		width: 50px !important;
	}

	button.content-switch-left {
		top: 3% !important;
		width: 50px !important;
	}	

	.instructions div {
		display: block;
	}

}
@keyframes slideUpFade {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0,20px,0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}

@-webkit-keyframes slideUpFade {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0,20px,0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}

.img-dragger-small .slide h2 span {
	font-size: 0.35em;
}

.img-dragger-small .slide.current h2 {
	color: #fff;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-transition: color 0.3s, opacity 0.3s;
	transition: color 0.3s, opacity 0.3s;
}

.slide h2 i {
	font-style: normal;
	font-weight: 400;
}

button.content-switch {
	border: 2px solid #000;
	width: 60px;
	height: 50px;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	background: transparent;
	color: #fff;
	font-family: 'Lato', sans-serif;
	position: absolute;
	cursor: pointer;
	top: 87%;
	right: 6%;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	padding: 1em 2em;
	font-size: 0.85em;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	z-index: 1000;
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
	transition: transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
}

button.content-switch-left {
	border: 2px solid #000;
	width: 60px;
	height: 50px;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	background: transparent;
	color: #fff;
	font-family: 'Lato', sans-serif;
	position: absolute;
	cursor: pointer;
	top: 87%;
	left: 6%;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	padding: 1em 2em;
	font-size: 0.85em;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	z-index: 1000;
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
	transition: transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
}

button.content-switch-home {
	width: 60px;
	height: 60px;
	white-space: nowrap;
	background: transparent;
	color: #000;
	font-family: 'Lato', sans-serif;
	position: absolute;
	cursor: pointer;
	top: 87%;
	right: 6%;
	font-size: 0.85em;
	font-weight: 400;
	outline: none;
	z-index: 1000;
	opacity: 0.7;
	border: none !important;
}


@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(360deg); }
    100% { -o-transform: rotate(0deg); }
}

button.content-switch-home svg  {   
    animation: spin 2s linear 0s infinite reverse;
    -moz-animation: 2s linear 0s reverse none infinite spin;
    -webkit-animation: spin 2s linear 0s infinite reverse;
    -o-animation: spin 2s linear 0s infinite reverse;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

button.content-switch-home svg:hover  {   
    animation-play-state: running;
    -o-animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}


.no-js button.content-switch {
	display: none;
}

.no-js button.content-switch-left {
	display: none;
}

button.content-switch:hover {
	opacity: 1;
}

button.content-switch::before {
	content: '\e097';
	font-family: 'feathericons';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 16px;
	transform: rotate(-90deg);
	text-indent: 0;
	font-size: 1.5em;
	line-height: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgb(0, 0, 0);;
}

button.content-switch-left::before {
	content: '\e096';
	font-family: 'feathericons';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 16px;
	transform: rotate(-90deg);
	text-indent: 0;
	font-size: 1.5em;
	line-height: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgb(0, 0, 0);;
}

.show-content .current button.content-switch {
	border-color: #c5d3d6;
	color: #c5d3d6;
	-webkit-transform: translate3d(-50%,100%,0);
	transform: translate3d(-50%,100%,0);
}

.show-content .current button.content-switch::before {
	content: '\e096';
}

/* Content */
.js .pages {
	position: absolute;
	top: 100%;
	height: 0;
	width: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
}

.js .show-content .pages {
	-webkit-transition: none;
	transition: none;
	height: 100%;
}

.pages .content {
	background: #dfe3e3;
	text-align: center;
	color: #545b61;
	font-size: 1.5em;
}

.js .pages .content {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
}

.pages .content.show {
	height: auto;
	-webkit-transition: none;
	transition: none;
}

.pages .content h2 {
	font-size: 4.5em;
	max-width: 70%;
	color: #34495e;
	padding: 2.25em 10px 1em;
}

.no-js .pages .content h2 {
	padding-top: 1em;
}

.pages .content h2 span {
	color: #95a5a6;
}

.pages .content p {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0.5em 2em;
	line-height: 1.5;
	text-align: left;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

.pages .content p:last-child {
	padding: 5em 1em 8em;
	text-align: center;
	font-weight: bold;
}

.js .pages .content h2,
.js .pages .content p {
	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,200px,0);
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
	transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.pages .content.show h2,
.pages .content.show p {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.pages .content.show p {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.pages .content a {
	color: #3c89d5;
	display: block;
}

.pages .content a:hover {
	color: #545b61;
}

/* Switch */
.switch-min .img-dragger-large .slide > *:not(.img-wrap),
.switch-max .img-dragger-small .slide > *:not(.img-wrap)  { /* fade out everything except image */
	opacity: 0;
	-webkit-transition: none;
	transition: none;
}

.switch-min .img-dragger-large,
.switch-max .img-dragger-small {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

.img-dragger-small button.content-switch {
	opacity: 0;
	pointer-events: none;
}

/* Helper classes */
.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

.hide {
	opacity: 0 !important;
	pointer-events: none !important;
}

@media screen and (max-width: 63.125em) {
	.dragslider h2 {
		font-size: 2.8em;
	}
	.pages .content {
		font-size: 100%;
	}
	.pages .content h2 {
		font-size: 3em;
	}
}

@media screen and (max-width: 650px) {
	button.slider-switch {
		display: none;
	}
}
